header{
    background: url(https://i.pinimg.com/originals/52/a2/cc/52a2cca14d2b8e510876507aaa0c5b13.jpg) top / cover;
    height: 100vh;
    background-repeat: no-repeat;
    overflow: hidden;
    h1{
        cursor: pointer;
        font-size:30px;
        margin: 5px;
        @media screen and (min-width: 1024px) {
            font-size: 40px;;
        }
    }
    small{
        font-style: italic;
        font-size: 14px;
    }
    .topBar{
        margin: 15px auto;
        width: 80%;
        text-align: center;
        border: 3mm ridge rosybrown;
        border-radius: 15px;
        background-color: tan;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 2%;
        left: 50%;
        translate: -50% 0 0;
        z-index: 111111;
      }
        .logo{
            margin: 15px 80px;
            position: relative;
            .mushy{
                width: 40%;
                position: absolute;
                top: 5%;
                left: -45%;
                transform: translate(-5%, -10%);
            }
            .title{
                margin: 0;
            }
        }
        .right-topBar {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: $beigeFilter;
            position: absolute;
            width: 110vw;
            height: 110vh;
            top: -60%; 
            left: -20%;
            transform: translate(50%, -100%);
            transition: all 0.3s ease;
            &.active {
                transform: translate(0);
            }
            .account, .login, .game, .support, .levels {
                cursor: pointer;
                font-weight: bold;
                margin-bottom: 15px;
                &:hover {
                    color: wheat;
                }
            }
        }
        .burger{
            position: absolute;
            right: 5px;
            width: 30px;
            height: 30px;
            cursor: pointer;
            @include transition;
            div{
                background-color: black;
                border-radius: 5px;
                height: 3px;
                margin: 5px;
            } 
            &:hover{
            transform: rotate(90deg) scale(0.7);
            }
            &.active{
                rotate: 90deg;
            }
        }
        @media screen and (min-width: 1024px) {
            .right-topBar {
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                position: absolute;
                top: 25%;
                left: 60%;
                transform: translate(-50%, -50%);
                height: auto;
                width: 30%;
                background: none;
                transform: translate(0);
                .tags, .account, .login, .game, .support, .levels {
                    cursor: pointer;
                    &:hover {
                        color: wheat;
                    }
                }
            }
            .burger {
                display: none;
            }
        }
       
    }

.notification {
    background-color: #ffcccb; // Couleur de fond pour le message
    color: #333; // Couleur du texte
    padding: 10px;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    border-radius: 5px;
  }
.room {
    background: url(https://cdna.artstation.com/p/assets/images/images/033/484/282/medium/siti-maisyarah-background.jpg?1609753948) top/cover;
    height: 100vh;
    background-repeat: no-repeat;
    overflow: hidden;
    @media screen and (min-width: 1024px) {
        height: 100vh;
    }
}
.profil {
    background: url(https://cdn.80.lv/api/upload/content/aa/images/62a8747598895/widen_1840x0.jpg) top/cover;
    height: 120vh;
    background-repeat: no-repeat;
    overflow: hidden;
    
}
.jeu {
    background: url(https://i.pinimg.com/originals/38/67/cb/3867cb48a41331229bbeacd8f7714e8a.jpg) center/cover;
    height: 120vh;
    background-repeat: no-repeat;
    overflow: hidden;
}
.aide {
    background: url(https://i.pinimg.com/originals/9f/2e/20/9f2e20b7595ac5a873ddd17a22b9b934.jpg) center/cover;
    height: 135vh;
    background-repeat: no-repeat;
    overflow: hidden;
    @media screen and (min-width: 1024px) {
        height: 100vh;
    }
}
.dark-mode {
    color: #fff;
    background-color: $backgroundGreen;
}
.darkModeToggle {
    cursor: pointer;
    img {
      width: 60px;
      height: 60px;
    }
  }