.chakra-petch-light {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-style: normal;
}
main{
    background-color: $background;
}
.top-content{
    width: 100%;
    margin: 0 auto;
    h1{
        font-weight: lighter;
    }
    .box{
        @include absmiddle;
        width: 50%;
        text-align: center;
        border: 2px solid rosybrown;
        border-radius: 15px;
        background-color: tan;
        .start{
            background-color: rosybrown;
            width: 50%;
            margin: 10px auto;
            border-radius: 5px;
            border: 2px solid $darkerRosy;
            cursor: pointer;
            font-weight: bold;
            padding: 10px;
            &:hover{
                background-color: $darkerRosy;
            }
        }
    }
}
.wrapper{
    margin: 0 auto;
    padding: 15px;
    width: 350px;
}
.tutoriel, .categories{
    background: $darkerRosy;
    padding: 0 20px 20px 20px;
    border-radius: 10px;
}
.tuto-title{
    position: relative;
    h2{
        padding: 15px 0;
    }
    .howMushy{
        width: 30%;
        position: absolute;
        top: 10%;
        left: 75%;
        transform: translate(-30%, -30%);
    }
}
.tuto-box{
    h2{
        font-weight: lighter;
        font-style: italic;
        padding: 15px;
        font-size: 18px;
    }
    .step{
        background: $beigeFilter;
        border-radius: 5px;
    }
}
.backTop{
    position: relative;
}
#backToTopBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: tan;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.cookie{
    background-color: $beigeFilter;
    width: 90%;
    border-radius: 15px;
    display: none;
    position: fixed;
    bottom: 1%;
    left: 10%;
    transform: translate(-5%, -10%);
    padding: 10px;
    border: 1px solid rosybrown;
    text-align: center;
    .policy{
        width: 55%;
        margin: 5px auto;
    }
}