.chakra-petch-light {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.wrapper{
    width: 100%;
    margin: 0 auto;
    h1{
        font-weight: lighter;
    }
}
.box{
    @include absmiddle;
    width: 50%;
    text-align: center;
    border: 1px solid rosybrown;
    border-radius: 15px;
    background-color: tan;
    .start{
        background-color: rosybrown;
        width: 20%;
    }
}
.cookie{
    background-color: $beigeFilter;
    width: 90%;
    border-radius: 15px;
    display: none;
    position: fixed;
    bottom: 5%;
    left: 10%;
    transform: translate(-5%, -10%);
    padding: 15px;
    border: 1px solid rosybrown;
    // z-index: 10;
    text-align: center;
    .policy{
        width: 55%;
        margin: 5px auto;
    }
}