.chakra-petch-light {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-style: normal;
}
main{
    background-color: $background;
    height: 100%;
}
.top-content{
    width: 100%;
    margin: 0 auto;
    h1{
        font-weight: lighter;
        font-size: 1.5rem;
    }
    .box, .question-box{
        @include absmiddle;
        width: 50%;
        text-align: center;
        border: 2px solid rosybrown;
        border-radius: 15px;
        background-color: tan;
        .start{
            background-color: rosybrown;
            width: 70%;
            margin: 10px auto;
            border-radius: 5px;
            border: 2px solid $darkerRosy;
            cursor: pointer;
            font-weight: bold;
            padding: 10px;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
            transition: box-shadow 0.3s ease;
            @include transition;
            &:hover{
                background-color: $darkerRosy;
            }
        }
    }
}
.wrapper{
    margin: 0 auto;
    padding: 15px;
    max-width: 80%;
}
.categories, .difficulty{
    margin: 50px 0;
    background: $darkerRosy;
    padding: 0 20px 20px 20px;
    border-radius: 10px;
    h2{
        padding: 15px 0;
    }
}
ul{
    padding: 0;
}
.categories-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}
.categories-title{
    position: relative;
    display: flex;
    justify-content: end;
    h2{
        text-align: center;
        width: 75%;
    }
    .sittingMushy{
        width: 120px;
        position: absolute;
        top: 70px;
        left: 5%;
        transform: translate(-50%, -50%);
    }
}
.tag {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    font-size: 18px;
    background: $background;
    border-radius: 15px;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
    &:hover{
        color: wheat;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);
    }
}
.difficulty-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 1rem;
    margin: 0 auto;
    border-radius: 10px;
}
.level {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    margin: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
    h2{
        font-size: 16px;
        margin: 10px 0 0 0;
    }
}
.level img {
    width: 100%; 
    height: auto;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-bottom: 10px;
    @include transition;
}
.level:hover {
    h2{
        color: wheat;
    }
    img{
        transform: scale(1.03);
    }
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);
}

.difficulty-title{
    position: relative;
    padding-top: 1px;
    h2{
        width: 80%;
    }
    .warriorMushy{
        width: 130px;
        position: absolute;
        top: 20px;
        right: -50px;
        transform: translate(-10%, -50%);
    }
}
.categories-title{
    position: relative;
    display: flex;
    justify-content: end;
    h2{
        text-align: center;
        width: 75%;
    }
    .sittingMushy{
        width: 140px;
        position: absolute;
        top: 60px;
        left: 5%;
        transform: translate(-50%, -50%);
    }
}
.step, .level, .tag{
    background: $background;
    border-radius: 5px;
    h2{
        font-weight: lighter;
        font-style: italic;
        padding: 15px;
        font-size: 18px;
    } 
}
.tuto-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 1rem;
}
.backTop{
    position: relative;
}
#backToTopBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: tan;
    color: black;
    border: none;
    border-radius: 5px;
    z-index: 11111;
    cursor: pointer;
}
.cookie{
    background-color: $beigeFilter;
    width: 90%;
    border-radius: 15px;
    position: fixed;
    bottom: 5px;
    left: 10%;
    transform: translate(-5%, -10%);
    padding: 10px;
    border: 1px solid rosybrown;
    text-align: center;
    z-index: 12;
    .policy{
        width: 55%;
        margin: 5px auto;
    }
}
.swiper-wrapper {
    width: 100%;
    height: 100%;
}
.testimonials {
    background: $darkerRosy;
    margin: 0;
    padding: 50px 0;
    position: relative;
    overflow: hidden;
}
.swiper-slide {
    background: $background;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.comments {
    font-size: 18px;
    font-style: italic;
}
.user-comments {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
.newsletter {
    background: url(https://i.pinimg.com/originals/14/7e/4d/147e4d0b1eedec2a9561b9415983770c.png) top / cover;
    height: 70vh;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    h2 {
      font-size: 30px;
      margin-bottom: 20px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    }
    .news-box {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.8); 
      border-radius: 10px;
      padding: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      .email-box {
        padding: 10px;
        width: 250px;
        font-size: 16px;
        border: none;
        border-radius: 5px 0 0 5px;
      }
      .submit-box {
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        border-radius: 0 5px 5px 0;
        background-color: rosybrown;
        color: white;
        cursor: pointer;
        transition: 0.3s ease;
        &:hover {
          background-color: darken(rosybrown, 10%);
        }
      }
    }
  }  

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rosybrown;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
}
.spinner {
    width: 120px;
    height: 120px;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#content {
    display: none;
    padding: 20px;
}
.form-container {
    position: absolute;
    top: 60%;
    left: 50%;
    translate: -50% -50% 0;
    width: 50%;
    text-align: center;
    border: 2px solid #bc8f8f;
    border-radius: 15px;
    background-color: tan;
    label {
        text-align: start;
        display: block;
        margin-bottom: 5px;
        margin-left: 10px;
        font-weight: bold;
    }
    input[type="email"],
    input[type="password"] {
        width: calc(100% - 20px);
        padding: 8px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    button {
        padding: 10px;
        margin-bottom: 10px;
        background-color: rosybrown;
        color: white;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        &:hover {
            background-color: darken(rosybrown, 10%);
        }
    }
    .checkbox-container {
        margin-bottom: 15px;
        margin-left: 10px;
        display: flex;
    }
}
.hidden{
   opacity: 0;
   transition : opacity .2s ease-in-out;
}
.hidden.visible{
    opacity: 1;
}
.screenshot {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
    @media screen and (min-width: 1024px) {
        display: flex;
        flex-direction: row;
    }
}
.screenshot-mockup {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    @media screen and (min-width: 1024px) {
        width: 50%;
    }
}
.screenshot-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 1024px) {
        width: 50%;

    }
    h1{
        font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    }
    p{
        display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    font-size: 18px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    }
}
.screenshot-title p i {
    font-size: 36px;
    margin-bottom: 10px;
}