.main-jeu{
    .categories-title{
        display: block;
        h2{
            text-align: start;
            width: 100%;
        }
    }
    .level, .tag{
        cursor: pointer;
    }
}
.play {
    text-align: center;
    a{
    display: inline-block;
    background-color: rosybrown;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
        &:hover{
            background-color: $darkerRosy;
        }
    }
}