$beigeFilter : rgba(210, 180, 140, 0.877);
$darkerRosy: rgb(150, 115, 115);
$background: rgba(210, 180, 140, 0.349);

$greenfilter: #b2e799c4;
$darkerGreeny: #4f7c3a9f;
$backgroundGreen: rgba(18, 85, 1, 0.349);